name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  Tests:

    runs-on: ubuntu-latest
    
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: test_db
          MYSQL_USER: django
          MYSQL_PASSWORD: django
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    
      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli -a redis_pass ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        

    env:
      SECRET_KEY: secret
      DEBUG: "False"
      REDIS_URL: redis://127.0.0.1:6379/0
      REDIS_USE_PASSWORD: "False" 
      DATABASE_NAME: test_db
      DATABASE_USER: django
      DATABASE_PASSWORD: django
      DATABASE_HOST: 127.0.0.1
      DATABASE_PORT: 3306
    
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Wait for MySQL
      run: |
        sudo apt-get install -y mysql-client
        until mysqladmin ping -h 127.0.0.1 --silent; do
          echo "Waiting for MySQL..."
          sleep 2
        done

    - name: Grant mysql permissions
      run: |
         sudo apt-get install -y mysql-client
         mysql -h 127.0.0.1 -u root -proot -e "GRANT ALL PRIVILEGES ON *.* TO 'django'@'%' WITH GRANT OPTION;"
         mysql -h 127.0.0.1 -u root -proot -e "FLUSH PRIVILEGES;"

    - name: Apply migrations
      run: |
        python manage.py migrate --noinput

    - name: Run Tests
      run: |
        python manage.py test
